<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Android Check</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/treestyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diff2html.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/treestyle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/diff2html.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>
<body>


  <!-- Latest compiled and minified JavaScript -->
  <div>
      <button type="button" class="btn btn-primary">
        <a href="/">Home</a>
      </button>
  </div>
  <div id="tree" class="tree split left"></div>
  <div id="diff" class="split right"></div>
  <script>
  $('#tree').treeview({data: {{ tree | tojson|safe }}    });
</script>
</body>
</html>
